.icon {
    width: 24px;
    height: 24px;
}

.iconHuge {
    width: 59px; 
    height: 42px;
}

.iconHuge:hover {
    color: #157EB5;
}

.listItem:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #157EB5;
}

.listItem:hover .icon {
    color: #157EB5;
}