@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Setting Roboto as the default font */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This styles the entire scrollbar (track) */
::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

/* This styles the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #7E92A2; /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  /* border: 3px solid orange; creates border around scroll thumb */
}

/* This styles the scrollbar track (the part the thumb scrolls within) */
::-webkit-scrollbar-track {
  background: white; /* color of the scroll track */
}
