.arrowStyle {
    width: 20px !important;
    height: 20px !important;
}

.arrowStyle:hover {
    color: white;
}

.baseIconButtonStyles {
    position: absolute !important;
    top: 10px;
    color: gray !important;
    background-color: #F2F2F2 !important;
    width: 31px;
    height: 29px;
    border-radius: 100% / 90% !important;
}

.baseIconButtonStyles:hover {
    background-color: #157EB5 !important;
}

.collapsedIconButtonStyles  {
    left: 0px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.nonCollapsedIconButtonStyles {
    right: 0px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
